# # INFOPILLAR  SOLUTION

# # Data Science Project

# # Task 2 : Movie Recommendation System

# * Name - Narsale Vrushali Ambadas

# # IMPORT  LIBRARIES

In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from fuzzywuzzy import process

# # Data Loading

In [2]:
movies=pd.read_csv("/home/vrushali/Downloads/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("/home/vrushali/Downloads/ratings.csv.zip")
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [4]:
ratings.shape

(105339, 4)

In [5]:
movies_users = ratings.pivot(index='movieId',columns='userId',values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,5.0,0.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,4.0,5.0,3.0,0.0,0.0,0.0,0.0,3.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,3.0
3,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5

In [6]:
mat_movies = csr_matrix(movies_users.values)
mat_movies

<10325x668 sparse matrix of type '<class 'numpy.float64'>'
	with 105339 stored elements in Compressed Sparse Row format>

In [7]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric = 'cosine',algorithm = 'brute',n_neighbors = 20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [8]:
def recommender(movie_name,data , n):
    idx = process.extractOne(movie_name,movies['title'])[2]
    print('Movie Selected : ',movies['title'][idx],'Index : ',idx)
    print('Searching for recommondation........')
    distance , indices = model.kneighbors(data[idx],n_neighbors=n)
    for i in indices :
        print(movies['title'][i].where(i!=idx))

In [9]:
recommender('toy story',mat_movies,10)

Movie Selected :  Toy Story (1995) Index :  0
Searching for recommondation........
0                                                     NaN
971     Star Wars: Episode VI - Return of the Jedi (1983)
230             Star Wars: Episode IV - A New Hope (1977)
960     Raiders of the Lost Ark (Indiana Jones and the...
646                  Independence Day (a.k.a. ID4) (1996)
1029                            Back to the Future (1985)
958     Star Wars: Episode V - The Empire Strikes Back...
564                            Mission: Impossible (1996)
872            Willy Wonka & the Chocolate Factory (1971)
2496                                   Toy Story 2 (1999)
Name: title, dtype: object

In [10]:
recommender('iron man',mat_movies,10)

Movie Selected :  Iron Man (2008) Index :  7714
Searching for recommondation........
7578                         Bucket List, The (2007)
6868                   Cheaper by the Dozen 2 (2005)
7697                              Nathalie... (2003)
7714                                             NaN
7115     36 Quai des Orfèvres (Department 36) (2004)
6748                                  Woyzeck (1979)
7342                               No Way Out (1950)
7701                           Happy-Go-Lucky (2008)
7602    Band's Visit, The (Bikur Ha-Tizmoret) (2007)
6807                                Manderlay (2005)
Name: title, dtype: object